

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 1000px;
    box-sizing: border-box;
} 


.contents {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    outline: 0.1px solid green;
    justify-content: space-around;
    background-color: gold;
    border-radius: 5%;

}

#Buttonns {
    display: flex;
    align-self: flex-start;
    height: 25px;
    width: 140px;
    margin-bottom: 0px;
    text-align: center;
    gap: 5px;
}

#container {
    min-height: 90vh;
    min-width: 1000px;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
  }
  